<mat-card class="csr-card">
    <mat-card-header>
        <mat-card-title>
            <h1>Sign in</h1>
        </mat-card-title>
    </mat-card-header>
    <form [formGroup]="myForm" (ngSubmit)="sendRequest()" *ngIf="!submitted">
        <mat-card-content>
            <mat-form-field class="full-width">
                <mat-label>Email address</mat-label>
                <input matInput formControlName="emailField">
                <mat-error *ngIf="myForm.get('emailField').errors?.required">
                    This field is <strong>required</strong>!
                </mat-error>
                <mat-error *ngIf="myForm.get('emailField').errors?.email">
                    This must be full <strong>email address</strong>!
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="passwordField">
                <mat-error *ngIf="myForm.get('passwordField').errors?.required">
                    This field is <strong>required</strong>!
                </mat-error>
            </mat-form-field>

            <mat-error *ngIf="errorMsg">
                {{errorMsg}}
            </mat-error>

        </mat-card-content>
        <mat-card-actions class="full-width">
            <button class="full-btn" mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid"> Sign in </button>
            <p class="link-text"> Don't have account? <a routerLink="/sign-up"> Create one now. </a> </p>
        </mat-card-actions>
    </form>
</mat-card>
