.csr-card {
    margin: auto;
    max-width: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.full-width {
    width: 80%;
    margin-left: 10%;
}

.full-btn {
    width: 100%;
}

.full-header {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.space3 {
    margin-left: 3%;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    /*margin: 15px 0;*/
    align-items: flex-start;
}

.example-radio-button {
    margin: 10px;
}

.example-radio-group-label {
    color: grey;
}

h3 {
    color: grey;
    font-weight: bold;
}